body {
  background-color: #dee4ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.container {
  width: 100%;
  max-width: 600px;
  margin: 30px auto 0;
  padding: 20px;
  border: 1px solid rgb(9, 9, 9);
  border-radius: 5px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.question:hover {
  cursor: pointer
}
.answer {
  padding: 10px;
  display: none;
}
.question.show-answer + .answer {
  display: block;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}